body>header {
  margin-top: 120px;
  height: 400px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background-color: #586ebc;
  background-image: url(http://www.transparenttextures.com/patterns/asfalt-light.png);

  color: #f4f1ec;
}

@media only screen and (min-width: 1024px) {
  body>header {
    margin-top: 115px;
    display: flex;
    height: 25em;
    border-radius: 10px;
    width: 50%;
    margin-right: 1em;
  }
}