div>button {
  background-color: #4056A1;
  outline: none;
  color: #FFFFFF;
  font-family: 'bungee', sans-serif;
}

output {
  color: #4056A1;
  font-family: 'bungee', sans-serif;
}

textarea {
  resize: none;
  outline: none;
  border: 0px solid #cdcdcd;
  background-color: #f4f1ec;
  border-bottom: solid;
  border-bottom-color: #545149;
  height: 1.3em;
  width: 100%;
}

.new-tweet {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

div {
  display: flex;
  padding-top: 0.05em;
  justify-content: space-between;
}

main>section {
  width: 100%;
}

.overflowText {
  color: #BC586E;
}

.error {
  display: none;
  justify-content: center;
  color: #FFFFFF;
  background-color: #BC586E;
  /* border: 0.2em solid #BC586E; */
  width: 90%;
  margin-top: 0.5em;
  margin-bottom: 0.05em;
  border-radius: 0.25em;
}

.hidden {
  visibility: hidden;
}

@media only screen and (min-width: 1024px) {
  h2{
    display: none;
  }
  main{
    margin-top: 4.8em;
  }
}