.tweet>header {
  margin-top: 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
}

.tweets{
  width: 100%;
}

.tweet> {
  margin-top: 1%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid;
  border-color: #545149; */
}

.tweet>footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
  border-top: solid;
  border-top-color: #545149;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.tweet-text-data {
  margin-top: 2%;
  width: 98%;
}

.tweet>footer>div {
  display: flex;
  justify-content: flex-end;
  letter-spacing: 0.1em;
}

.tweet>header>div {
  display: flex;
  justify-content: flex-start
}

.tweet>header>div>div {
  padding-left: 0.5em;
}

.tweet{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 0.2em solid #545149;
  border-radius: 1%;
  padding: 0.5em;   
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .tweet>footer>div>.retweet{
    font-size: 1.25em;
  }
  .tweet>footer>div>.like{
    font-size: 1.25em;
  }
  .tweet>footer>div>.report{
    font-size: 1.25em;
  }
}