main>article>header {
  margin-top: 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;

}

main>article {
  margin-top: 1%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  border-color: #545149;
}

main>article>footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
  border-top: solid;
  border-top-color: #545149;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.tweet-text-data {
  margin-top: 2%;
  width: 98%;
}

main>article>footer>div {
  display: flex;
  justify-content: flex-end;
  letter-spacing: 0.1em;
}

main>article>header>div {
  display: flex;
  justify-content: flex-start
}

main>article>header>div>div {
  padding-left: 0.5em;
}

@media only screen and (min-width: 1024px) {
  main>article>footer>div{
    padding-top: 3px;
    letter-spacing: 0.25em;
    height: 1.5em;
  }
  main>article>footer>div>.retweet{
    font-size: 1.25em;
  }
  main>article>footer>div>.like{
    font-size: 1.25em;
  }
  main>article>footer>div>.report{
    font-size: 1.25em;
  }
}